@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This Application lets you track your teams statistics real time. Manage your teams records so that you can know how well your team's doing. 
    Analyse each player's performance and make comparisons. Streamline your management tactics. Make your management job easier with the help 
    of this management application. Optimise your teams records by using the application to track their data. Make your job easier spend less 
    time sorting all the information. Do it yourself and ensure you have the accurate information. Understand who your best player is and how 
    well he has improved from previous season. Make the numbers make some sense with management app.</p>
