@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Wellington Institute of technology<br />
    Petone, 21 Kensington Avenue<br />
    <abbr title="Phone">P:</abbr>
    04-825 5555 
</address>

<address>
    <strong>Customer Service:</strong> <a href="">customerservice.petone@managementapp.com</a><br />
    
</address>
