@model FootballStatisticsManagementApp.Models.Stats

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stat</h4>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatsId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
